.header {
    background-color: #00a1e0 !important;
    height: 80px;
}

.profile-image {
    height: 100px;
    margin-top: 30px;
}

.app-title {
    color: #00a1e0 !important;
}

.qn-box {
    width: 100px;
}


.app-container {
    padding-top: 110px;
}

#ask-btn {
    background-color: #00a1e0;
    color: #fff;
}

.questions {
    margin-top: 100px;
}

.question {
    margin-top: 10px;
}

.question__profile {
    height: 100px;
}

a {
    text-decoration: none !important;
    color: #00a1e0 !important;
}

.question__date {
    font-style: italic;
    margin-top: 30px;
}

.question__title {
    margin-top: 10px;
    margin-left: 30px;
}

/* question-styiling */
.container {
    padding-bottom: 100px;
}

.qn-title{
    text-align: center;
    padding: 20px;
    padding-bottom: 40px;
}

.votes{
    margin-bottom: 10px;
}

